{% extends "base.twig" %}

{% block title %} - Page does not exist {% endblock %}
{% block navigation %}
    <li><a href="/search">Search</a></li>
    <li><a href="#booths">Booths</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="/admin">Admin</a></li>
{% endblock %}
{# not finished since I used a redirect on 404 #}